/*Limpar fotmatações padrões*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
}

li{
    display: inline-block;
}
figcaption{
    color: #ffefa9
}
a{
    color: #ffefa9
}


#Menu{
    background-color: #2d2d29;
    width: 100%;
    height: auto;
    position: fixed;
    
}
.Links{
    padding-right: 50px;
    padding-top: 45px;

    float: right;

}
#Logo{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Main{
    border: solid 1px red;
    background-color: #e5ead4;
    width: 900px;
    padding: 4%;
    margin: 0 auto;
}
.Publi{
    margin-top: 70px;
    width: 100%;
    height: 280px;
    position: relative;
     
}
.Banner{
    float: left;
    width: auto;

}

.Sinopse{
    float: right;
    width: 700px;
    height: auto;
    text-align: center;
    padding-top: 100px;
}
