/* Formulário */
#form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b47070;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh;  */
}

#horarios {
    margin-top: 20px;
    justify-content: space-between;
}

.sala {
    margin-bottom: 10px;
    margin: 0 30px;
    flex: 1;
}

.sala select {
    width: 100px; /* ou qualquer outro valor de largura desejado */
}


/* Menu e Logo */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    margin-top: 20px;
}

#menu {
    text-align: center;
    margin-bottom: 20px;
}

#navegacao {
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navegacao li {
    display: inline-block;
    margin-right: 10px;
    /* Espaço entre os itens do menu */
}

#navegacao li a {
    text-decoration: none;
    color: #000000;
    /* Cor do texto do menu */
}

#menu li {
    display: inline;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: #000;
}

a:link, a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    float: left;
}

#menu ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../img/divisor.png) no-repeat left center;
}

#menu ul .primeiro a {
    background: none;
}

#menu ul a:hover {
    color: #69001d;
}

body.filmes-exibicao #navegacao a#filmes-exibicao,
body.cadastro #navegacao a#cadastro {
    color: #fff;
    background: #de003e;
    cursor: text;
}

/* Estilização para o container do formulário */
#form-container {
    width: 800px;
    margin: 0 auto;
}

/* Estilização para o formulário */
#form {
    padding: 20px;
    background-color: linear-gradient(left, #E10050, #000);
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    margin-bottom: 20px;
    border: none
}

#horarios {
    display: flex;
}

/* Estilização para os campos de entrada de texto */
textarea,
input[type="file"] {
    width: 100%;
    padding: 8px;
    /* border: 1px solid #B30435; */
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}

input[type="text"]:focus {
    border-color: #E60050;
}

/* Estilização para os rótulos dos campos */
label {
    font-weight: bold;
    margin-top: 10px;
    color: #f8f8f8;
}

/* Estilização para as salas de cinema */
.sala {
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Estilização para os horários das salas */
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Estilização da div de envio */
#submit {
    margin-top: 20px;
}

/* Estilização do rodapé da div de envio */
#footer-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Estilização do botão de envio */
#footer-submit input[type="submit"] {
    background-color: #B3003E;
    color: #fff;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

/* Estilização do botão de envio quando hover */
#footer-submit input[type="submit"]:hover {
    background-color: #E10050;
}